.flex {
  display: flex;
}

.inline {
  display: inline-flex;
}

.row { flex-direction: row; }
.column { flex-direction: column; }
.rowReverse { flex-direction: row-reverse; }
.columnReverse { flex-direction: column-reverse; }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }
.wrapReverse { flex-wrap: wrap-reverse; }

.justifyStart { justify-content: flex-start; }
.justifyEnd { justify-content: flex-end; }
.justifyCenter { justify-content: center; }
.justifyBetween { justify-content: space-between; }
.justifyAround { justify-content: space-around; }
.justifyEvenly { justify-content: space-evenly; }

.alignStart { align-items: flex-start; }
.alignEnd { align-items: flex-end; }
.alignCenter { align-items: center; }
.alignBaseline { align-items: baseline; }
.alignStretch { align-items: stretch; }
