.statistic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.prefix {
  margin-right: 4px;
  font-size: 18px;
  color: #666;
}

.suffix {
  margin-left: 4px;
  font-size: 14px;
  color: #666;
}
